<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/f.css') }}">
    <title>Search</title>
</head>
<body>
    <div class="container">
        <h1>Search Page</h1>
        <form id="searchForm" action="/search" method="post">
            <label for="amount">Enter Amount:</label>
            <input type="text" id="amount" name="amount" placeholder="Enter amount...">
            <button type="submit" id="searchButton">Search</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/2_page.js') }}"></script>
</body>
</html>
